body {
    font-family: 'Roboto Mono', monospace;
    font-size: 32px;
}
.landing-button {
    background-color: #DE31AD;
    border: none;
    color: white;
    text-align: center;
    display: flex;
    font-size: 32px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 35px;
}
#landing-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#hero-logo {
    position: absolute; 
    top: 50px;
}

#description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1400px;
    padding: 20px;
    gap: 10px;
    flex-wrap: nowrap;
}

.landing-collage {
    height: 828px;
    width: auto;
}

#description-text {
    max-width: 675px;
}

h1 {
    font-size: 128px;
    margin-bottom: 0;
}
h3 {
    font-size: 40px;
    margin-top: 10px;
}
#button-container {
    display: flex;
    gap: 20px;
}

#landing-flower-break {
    padding: 50px;
    display: block;
    margin:0 auto;
    text-align:center;
}